<?xml version="1.0"?>
<!--
/**
 * Copyright © Ronangr1. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ronangr1" sortOrder="999" translate="label">
            <label>Ronangr1</label>
        </tab>
        <section id="barbagento" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
            <label>Barbagento</label>
            <tab>ronangr1</tab>
            <resource>Ronangr1_Barbagento::config_system</resource>
            <group id="general" translate="label comment" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="is_active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>barbagento/general/is_active</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
